<!DOCTYPE html>
<html>

<head>
    <title>Product Details</title>
</head>

<body>
    <h1>Product Details</h1>
    <ul>
        <li>ASIN: {{product.asin}}</li>
        <li>Title: {{product.title}}</li>
        <li>Image URL: {{product.imgUrl}}</li>
        <li>Stars: {{product.stars}}</li>
        <li>Reviews: {{product.reviews}}</li>
        <li>Price: {{product.price}}</li>
        <li>List Price: {{product.listPrice}}</li>
        <li>Category Name: {{product.categoryName}}</li>
        <li>Is Best Seller: {{product.isBestSeller}}</li>
        <li>Bought In Last Month: {{product.boughtInLastMonth}}</li>
    </ul>
</body>

</html>